<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head'); %>
  </head>
  <body>
    <%- include ('partials/header'); %>
    <%- include ('components/book_card', { book: book }); %>
    <h3>Reviews</h3>
    <%- include ('components/review_form', { book:book, user: user }); %>
    <%- include ('components/reviews', { reviews: reviews, user:user }); %>
    <%- include ('partials/footer'); %>
  </body>
</html>
