<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head'); %>
  </head>
  <body>
    <%- include ('partials/header'); %>
    <hr />
    <%- include ('components/categories', {categories: categories}); %>
    <hr/>
    <div>
      <main>
        <%- include (
          'components/books_grid',
          {books: books, categories: categories}
          ); %>
      </main>
    </div>
    <%- include ('partials/footer'); %>
  </body>
</html>
