<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head'); %>
  </head>
  <body>
    <%- include ('partials/header'); %>
    <%- include ('components/book_card'); %>
    <h3>Reviews</h3>
    <%- include ('components/review_form'); %>
    <%- include ('components/reviews'); %>
    <%- include ('partials/footer'); %>
  </body>
</html>
