<style>
  #book{
    display: flex;
    flex-direction: vertical;
    justify-content: center;
    text-align: center;
  }

  #book img {
    height: 100px;
  }

  #book h3, h4{
  }

</style>
<div id="book">
  <div>
    <a href="<%= url_for('book_focus', {book_id : book.id}) %>">
      <img
        src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-M.jpg"
      />
    </a>
    <div class="book-content">
      <h3><%= book.title %></h3>
      <h4><%= book.author %> <%= book.publish_year %></h4>
      <p><strong>R<%= book.price %></strong><br /></p>
    </div>
  </div>
</div>
