<style>
  a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
  }
</style>
<div class="book-focus">
  <div class="cover-focus">
    <img id = "cover" 
      src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-L.jpg"
    />
  </div>
  <div class="book-info-focus">
    <h3><%= book.title %></h3>
    <h4><%= book.author %> <%= book.publish_year %></h4>
  </div>

  <div class="abstract-focus">
    <p><%= book.abstract %></p>
  </div>

  <div class="price-focus">
    <p><strong>R<%= book.price %></strong></p>
    <% if (locals.user) { %>
      <a href="/add_cart?book_id=<%= book.id %>" class="button">Add to Cart</a>
    <% } else { %>
      <a href="/login" class="button">Add to Cart</a>
    <% } %>
  </div>
</div>
